<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Booking.com | 19HTTT06 | The best hotels, flight, car rentals & ...</title>

	<link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/vendors/aos/aos.css" type="text/css">
	<link rel="stylesheet" href="/vendors/jquery/jquery.timepicker.css" type="text/css">
	<link rel="stylesheet" href="/css/_custom.css" type="text/css">
	<link rel="stylesheet" href="/css/animate.css" type="text/css">
	<link rel="stylesheet" href="/css/fancybox.min.css" type="text/css">
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="/css/login.css" type="text/css">
</head>

<body>
<div class="d-flex justify-content-center align-items-center mt-5 pt-5">
	{{{ body }}}
</div>
</body>

</html>