<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 my-border-right">
            <ul class = "setting-section-menu">
                <li class="setting-section-menu-wrapper">
                    <div class="setting-section-menu-list">Personal detail</div>
                </li>
                <li class="setting-section-menu-list-final">Payment detail</li>
            </ul>
        </div>
        <div class="col my-border-right">
            <div>
                <div class="row-mt-3 personal-detail">
					<div class="col-md-10 personal-detail-title">
                        <div class="personal-detail-title-main">Payment details</div>
                        <div class="personal-detail-title-description">Securely add or remove payment methods to make it easier when you book.</div>
                    </div>
                </div>

                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Payment method</div>
                    <div class="col-md-5 setting-row-field-col-field"> - field</div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Cardholder name</div>
                    <div class="col-md-5 setting-row-field-col-field"> - field</div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Card number</div>
                    <div class="col-md-5 setting-row-field-col-field"> - field</div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Expiry date</div>
                    <div class="col-md-5 setting-row-field-col-field"> - field</div>
                </div>  
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">cvc</div>
                    <div class="col-md-5 setting-row-field-col-field"> - field</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>