<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 my-border-right">
            <ul class = "setting-section-menu">
                <li class="setting-section-menu-wrapper">
                    <div class="setting-section-menu-list">Personal detail</div>
                </li>
                <li class="setting-section-menu-list-final">Reference</li>
            </ul>
        </div>
        <div class="col my-border-right">
            <div>
                <div class="row-mt-3 personal-detail">
					<div class="col-md-10 personal-detail-title">
                        <div class="personal-detail-title-main">Personal detail</div>
                        <div class="personal-detail-title-description">Update your info and find out how it's used.</div>
                    </div>

                    <button class="col-md-2 personal-detail-avatar" aria-label="Change avatar">
                        <div class="personal-detail-avatar-wrapper">
                            <img class="    rounded-circle" width="70px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" loading="lazy">
                        </div>
                    </button>
                </div>

                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Name</div>
                    <div class="row-mt-1 col-md-3 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">First Name</label><input type="text" class="form-control" placeholder="First name" value=""></div>
                    </div>
                    <div class="row-mt-1 col-md-3 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">Last Name</label><input type="text" class="form-control" placeholder="Last name" value=""></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button class="button-save">Save</button>
                    </div>
                </div>

                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Display name</div>
                    <div class="row-mt-1 col-md-6 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">Display name</label><input type="text" class="form-control" placeholder="Display name" value=""></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button class="button-save">Save</button>
                    </div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Email address</div>
                    <div class="row-mt-1 col-md-6 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">Email address</label><input type="text" class="form-control" placeholder="Email address" value=""></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button class="button-save">Save</button>
                    </div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Phone number</div>
                    <div class="row-mt-1 col-md-6 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">Phone number</label><input type="text" class="form-control" placeholder="Phone number" value=""></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button class="button-save">Save</button>
                    </div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Date of birth</div>
                    <div class="row-mt-1 col-md-6 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">Date of birth</label><input type="text" class="form-control" placeholder="Date of birth" value=""></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button class="button-save">Save</button>
                    </div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Nationality</div>
                    <div class="row-mt-1 col-md-6 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">Nationality</label><input type="text" class="form-control" placeholder="Nationality" value=""></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button class="button-save">Save</button>
                    </div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Gender</div>
                    <div class="row-mt-1 col-md-6 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">Gender</label><input type="text" class="form-control" placeholder="Gender" value=""></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button class="button-save">Save</button>
                    </div>
                </div>
                <div class="row mt-2 setting-row">
                    <div class="col-md-4 setting-row-field-col-label">Address</div>
                    <div class="row-mt-1 col-md-6 setting-row-field-col-field-edit">
                        <div class="row-mt-1"><label class="my-labels">Address</label><input type="text" class="form-control" placeholder="Address" value=""></div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button class="button-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>