     
.my-border-right {
    flex-grow: 1;
    width: 0;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: medium ;
    line-height: 30px;
  }
  
  .personal-detail {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e7e7e7;
    color: #1a1a1a;
    padding: 16px
  }
  
  .personal-detail-title {
    margin-bottom: var(16px);
    margin-top: var(4px);
  }
  
  .personal-detail-title-main {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: black;
  }
  
  .personal-detail-title-description {
    margin-top: 8px;
    font-size: 16px;
  }
  
  .personal-detail-avatar {
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    background: transparent;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .personal-detail-avatar-wrapper{
    position: relative;
  }
  
  .setting-row{
    border-bottom: 1px solid #e7e7e7;
    color: #1a1a1a;
    padding: 16px
  }
  
  .setting-row-field-col {
    flex-grow: 1;
    width: 0;
  }
  
  .setting-row-edit-col {
    min-width: 110px;
    text-align: end;
    width: 110px;
  }
  
  .setting-row-field-col-label {
    min-width: 146px;
    overflow-x: hidden;
    position: relative;
    white-space: normal;
    width: 146px;
    padding-left: 35px;
    font-size: 18px;
  }
  
  .setting-row-field-col-field {
    padding-left: 16px;
    font-size: 18px;
  }
  
  .setting-section-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
  }

  .setting-section-menu-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  
  .setting-section-menu-list {
    padding: 16px;
    color: #1a1a1a;
  }

  .setting-section-menu-list-final {
    padding: 16px;
    color: #1a1a1a;
  }

  .setting-section-menu-list-content {

  }

  .my-labels {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .setting-row-field-edit {
    padding: 10px;
  }

  .setting-row-field-edit-hide {
    display: none;
  }

  .setting-row-field-value-hide {
    display: none;
  }

  .setting-row-field-value {
    margin: 10px;
    font-size: 18px;
  }

  .button-save {
    background: #006ce4;
    border: 0;
    border-radius: 4px;
    text-align: end;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    text-align: center;
    vertical-align: end;
    padding: 10px 10px;
  }

  .button-edit-cancel {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: end;
    color: #006ce4;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    align-items: end;
    display: end;
    padding: 10px 10px;
    margin-bottom: 20px;
  }

  .button-edit-cancel:hover {
    background: #deecfb;
  }

  .button-edit-cancel-hide {
    display: none;
  }

  .button-save-hide {
    display:none;
  }

  .button-save:active {
    border: 0;
  }

  .button-save:active:after {
    border: none;
  }

  .button-save:hover {
    background-color: #57a6f4;
    color:#ffffff;
  }

  .my-border-right-hide {
    display: none;
  }

  .setting-section-menu-button {
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
  }