<section style="background-color: #eee;">
	<div class="container py-5">
		<h1>Name of property</h1>
		<p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>address of property</p>

		<div class="row">
			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<img
						src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Boat on Calm Water"
				/>

				<img
						src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Wintry Mountain Landscape"
				/>
			</div>

			<div class="col-lg-4 mb-4 mb-lg-0">
				<img
						src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Mountains in the Clouds"
				/>

				<img
						src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Boat on Calm Water"
				/>
			</div>

			<div class="col-lg-4 mb-4 mb-lg-0">
				<img
						src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Waves at Sea"
				/>

				<img
						src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
						class="w-100 shadow-1-strong rounded mb-4"
						alt="Yosemite National Park"
				/>
			</div>
		</div>
		<div>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum.
				Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum
				Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum.
				Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum.</p>
			<h5>Most popular facilities</h5>
			<div>
				<div class="d-inline-block">
					<div class="d-inline-block p-2">
						<i class="fas fa-wifi"></i>
					</div>
					<div class="d-inline-block p-2">Free Wifi</div>
				</div>
				<div class="d-inline-block">
					<div class="d-inline-block p-2">
						<i class="fas fa-wifi"></i>
					</div>
					<div class="d-inline-block p-2">Free Wifi</div>
				</div>
				<div class="d-inline-block">
					<div class="d-inline-block p-2">
						<i class="fas fa-wifi"></i>
					</div>
					<div class="d-inline-block p-2">Free Wifi</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h1>Accommodation</h1>
		<table class="table align-middle mb-0 bg-white">
			<thead class="bg-light">
			<tr>
				<th>Accommodation Type</th>
				<th>Sleeps</th>
				<th>Today's Price</th>
				<th>Amount</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<div class="d-flex align-items-center">
						<a><h3><u>Superior Double Room</u></h3></a>
						<p>1 room left</p>
					</div>
				</td>
				<td>
					<i class="fa fa-user" aria-hidden="true"></i>
					<i class="fa fa-user" aria-hidden="true"></i>
				</td>
				<td>
					<h4 class="mb-1 me-1">$13.99</h4>
					<span class="text-danger"><s>$20.99</s></span>
				</td>
				<td>
					<label>
						<input type="number" style="width: 50px">
					</label>
				</td>
				<td>
					<button type="button" class="btn btn-link btn-sm btn-rounded">
						I'll reserve
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h2>Guest reviews</h2>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex flex-start align-items-center">
							<img class="rounded-circle shadow-1-strong me-3"
								 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
								 height="60" />
							<div>
								<h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>
								<p class="text-muted small mb-0">
									Vietnam
								</p>
							</div>
						</div>
						<p class="card-text">"The room is very tidy and the view from the balcony is gorgeous"</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex flex-start align-items-center">
							<img class="rounded-circle shadow-1-strong me-3"
								 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
								 height="60" />
							<div>
								<h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>
								<p class="text-muted small mb-0">
									Vietnam
								</p>
							</div>
						</div>
						<p class="card-text">"The room is very tidy and the view from the balcony is gorgeous"</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex flex-start align-items-center">
							<img class="rounded-circle shadow-1-strong me-3"
								 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
								 height="60" />
							<div>
								<h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>
								<p class="text-muted small mb-0">
									Vietnam
								</p>
							</div>
						</div>
						<p class="card-text">"The room is very tidy and the view from the balcony is gorgeous"</p>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-link btn-sm btn-rounded float-right">
			See all reviews
		</button>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h2>Property questions and answers</h2>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex flex-start align-items-center">
							<img class="rounded-circle shadow-1-strong me-3"
								 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
								 height="60" />
							<div>
								<p class="card-text">"The room is very tidy and the view from the balcony is gorgeous"</p>
							</div>
						</div>
						<p class="mb-0">
							March 07, 2021
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex flex-start align-items-center">
							<img class="rounded-circle shadow-1-strong me-3"
								 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
								 height="60" />
							<div>
								<p class="card-text">"The room is very tidy and the view from the balcony is gorgeous"</p>
							</div>
						</div>
						<p class="mb-0">
							March 07, 2021
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<div>
							<p class="card-text"><span><u>User ask: </u></span>"The room is very tidy and the view from the balcony is gorgeous"</p>
						</div>
						<div>
							<p class="card-text"><span><u>Answer: </u></span>"Hehe"</p>
						</div>
						<p class="mb-0">
							March 07, 2021
						</p>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-link btn-sm btn-rounded float-right">
			Ask a question
		</button>
	</div>
</section>

<section style="background-color: #eee;">
	<div class="container py-5">
		<h2>Facilities of Moonlight Bay</h2>
		<p>Review score: 8.8</p>
		<h5>Most popular facilities</h5>
		<div>
			<div class="d-inline-block">
				<div class="d-inline-block p-2">
					<i class="fas fa-wifi"></i>
				</div>
				<div class="d-inline-block p-2">Free Wifi</div>
			</div>
			<div class="d-inline-block">
				<div class="d-inline-block p-2">
					<i class="fas fa-wifi"></i>
				</div>
				<div class="d-inline-block p-2">Free Wifi</div>
			</div>
			<div class="d-inline-block">
				<div class="d-inline-block p-2">
					<i class="fas fa-wifi"></i>
				</div>
				<div class="d-inline-block p-2">Free Wifi</div>
			</div>
		</div>
	</div>
</section>