<style>
	@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
</style>

<section style="background-color: #eee;">
	<div class="container py-5">
		<div class="row justify-content-center mb-3">
			<div class="col-md-12 col-xl-10">
				<div class="card shadow-0 border rounded-3">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
								<div class="bg-image hover-zoom ripple rounded ripple-surface">
									<img src="https://cf.bstatic.com/xdata/images/hotel/square200/222212726.webp?k=ecb5aaf03100c0b4e8719c4e53a49a7f94d17ea2b0b5070b77a28f34d93b997c&o=&s=1"
										 class="w-100"  alt=""/>
									<a href="#">
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-6 col-lg-6 col-xl-6">
								<h5>Quant trident shirts</h5>
								<div class="d-flex flex-row">
									<div class="text-danger mb-1 me-2">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<div class="mt-1 mb-0 text-muted small">
									<span>icon</span>
									<span>name of popular facility</span>
								</div>
								<p class="text-truncate mb-4 mb-md-0">
									info
								</p>
							</div>
							<div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
								<div class="d-flex flex-row align-items-center mb-1">
									<h4 class="mb-1 me-1">$13.99</h4>
									<span class="text-danger"><s>$20.99</s></span>
								</div>
								<small class="text-success">240 reviews</small>
								<small>8.8</small>
								<div class="d-flex flex-column mt-4">
									<a class="btn btn-primary btn-sm" href="/property/id">See availability</a>
									<button class="btn btn-outline-primary btn-sm mt-2" type="button">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>