<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Booking.com | 19HTTT06 | The best hotels, flight, car rentals & ...</title>

	<link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/vendors/aos/aos.css" type="text/css">
	<link rel="stylesheet" href="/vendors/jquery/jquery.timepicker.css" type="text/css">
	<link rel="stylesheet" href="/css/_custom.css" type="text/css">
	<link rel="stylesheet" href="/css/animate.css" type="text/css">
	<link rel="stylesheet" href="/css/fancybox.min.css" type="text/css">
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
<header class="site-header js-site-header">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="/">Booking.com</a></div>
			<div class="col-6 col-lg-8">
				<div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<!-- END menu-toggle -->

				<div class="site-navbar js-site-navbar">
					<nav role="navigation">
						<div class="container">
							<div class="row full-height align-items-center">
								<div class="col-md-6 mx-auto">
									<ul class="list-unstyled menu">
										<li class="active"><a href="/">Home</a></li>
										<li><a href="./login">Login</a></li>
										<li><a href="#">Register</a></li>
										<li><a href="#">Rooms</a></li>
										<li><a href="#">About</a></li>
										<li><a href="#">Events</a></li>
										<li><a href="#">Contact</a></li>
										<li><a href="#">Reservation</a></li>
									</ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="site-hero overlay" style="background-color: #004daa !important" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row site-hero-inner justify-content-center align-items-center">
			<div class="col-md-10 text-center" data-aos="fade-up">
				<h1 class="heading">Where to next</h1>
				<span class="custom-caption text-uppercase text-white d-block  mb-3">Find exclusive Genius rewards in every corner of the world!</span>
			</div>
		</div>
	</div>
</section>

<section class="section bg-light pb-0"  >
	<div class="container">
		<div class="row check-availabilty" id="next">
			<div class="block-32" data-aos="fade-up" data-aos-offset="-200">
				<form action="/property" method="GET">
					<div class="row">
						<div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
							<label for="location" class="font-weight-bold text-black">Location</label>
							<div class="field-icon-wrap">
								<input type="text" placeholder="Where are you going" id="location" name="location">
							</div>
						</div>
						<div class="col-md-6 mb-3 mb-lg-0 col-lg-2">
							<label for="checkin_date" class="font-weight-bold text-black">Check In</label>
							<div class="field-icon-wrap">
								<div class="icon"><span class="icon-calendar"></span></div>
								{{!-- <input type="date" id="checkin_date" name="checkin_date"> --}}
								<label>
									<input type="date" name="checkin_date" onchange="$('#checkin_date_display')">
								</label>
							</div>
						</div>
						<div class="col-md-6 mb-3 mb-lg-0 col-lg-2">
							<label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
							<div class="field-icon-wrap">
								<div class="icon"><span class="icon-calendar"></span></div>
								{{!-- <input type="date" id="checkout_date" name="checkout_date"> --}}
								<label>
									<input type="date" name="checkout_date" onchange="$('#checkout_date_display')">
								</label>

							</div>
						</div>
						<div class="col-md-6 mb-3 mb-md-0 col-lg-2">
							<div class="row">
								<div class="col-md-6 mb-3 mb-md-0">
									<label for="adults" class="font-weight-bold text-black">Adults</label>
									<div class="field-icon-wrap">
										<input type="number" id="adults" name="adults" style="width: 60px;" min="0" value="0"/>
									</div>
								</div>
								<div class="col-md-6 mb-3 mb-md-0">
									<label for="children" class="font-weight-bold text-black">Children</label>
									<div class="field-icon-wrap">
										<input type="number" id="children" name="children" style="width: 60px;" min="0" value="0"/>
									</div>
								</div>
								<div class="col-md-6 mb-3 mb-md-0">
									<label for="room" class="font-weight-bold text-black">Room</label>
									<div class="field-icon-wrap">
										<input type="number" id="room" name="room" style="width: 60px;" min="0" value="0"/>
									</div>
								</div>
							</div>
						</div>
						<label>
							<input type="text" hidden value="1" name="page">
						</label>
						<div class="col-md-6 col-lg-3 align-self-end">
							<button class="btn btn-info" type="submit">Search</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3 mb-lg-0 col-lg-4">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="is_looking_for" name="is_looking_for" value="checked">
								<label class="form-check-label" for="is_looking_for">
									I'm looking for an entire house or apartment
								</label>
							</div>
						</div>
						<div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="is_work" name="is_work" value="checked">
								<label class="form-check-label" for="is_work">
									I'm traveling for work
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{{{body}}} <!-- body -->

<footer class="section footer-section">
	<div class="container">
		<div class="row mb-4">
			<div class="col-md-3 mb-5">
				<ul class="list-unstyled link">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Terms &amp; Conditions</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Rooms</a></li>
				</ul>
			</div>
			<div class="col-md-3 mb-5">
				<ul class="list-unstyled link">
					<li><a href="#">The Rooms &amp; Suites</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Restaurant</a></li>
				</ul>
			</div>
			<div class="col-md-3 mb-5 pr-md-5 contact-info">
				<!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
				<p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Address:</span> <span> 198 West 21th Street, <br> Suite 721 New York NY 10016</span></p>
				<p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Phone:</span> <span> (+1) 435 3533</span></p>
				<p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span> info@domain.com</span></p>
			</div>
			<div class="col-md-3 mb-5">
				<p>Sign up for our newsletter</p>
				<form action="#" class="footer-newsletter">
					<div class="form-group">
						<label>
							<input type="email" class="form-control" placeholder="Email...">
						</label>
						<button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
					</div>
				</form>
			</div>
		</div>
		<div class="row pt-5">
			<p class="col-md-6 text-right social">
				<a href="#"><span class="fa fa-tripadvisor"></span></a>
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-twitter"></span></a>
				<a href="#"><span class="fa fa-linkedin"></span></a>
				<a href="#"><span class="fa fa-vimeo"></span></a>
			</p>
		</div>
	</div>
</footer>

<script src="/vendors/jquery/jquery-3.3.1.min.js"></script>
<script src="/vendors/jquery/jquery-migrate-3.0.1.min.js"></script>
<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/owl/owl.carousel.min.js"></script>
<script src="/vendors/jquery/jquery.stellar.min.js"></script>
<script src="/vendors/jquery/jquery.fancybox.min.js"></script>
<script src="/vendors/aos/aos.js"></script>
<script src="/vendors/bootstrap/bootstrap-datepicker.js"></script>
<script src="/vendors/jquery/jquery.timepicker.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/840b8d10c6.js" crossorigin="anonymous"></script>
</body>


</html>